@charset "UTF-8";
dd {
  color: white; }

h2 {
  color: white; }

p {
  color: white; }

/*TIENDA*/
.banner {
  width: 100%;
  height: 174px;
  padding: 0px; }

.bannerPromociones {
  width: 998px;
  height: 174px; }

.contenedor_tienda {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto); }

.contenedor_tienda > div
.contenedor_tienda .productos
.contenedor_tienda .filtro
.contenedor_tienda .categorias {
  background: #fff;
  padding: 20px;
  border-radius: 4px; }

.contenedor_tienda .categorias {
  color: whitesmoke;
  background: rgba(230, 230, 230, 0.3); }
  .contenedor_tienda .categorias ul {
    list-style: none;
    font-family: monospace; }
    .contenedor_tienda .categorias ul dd {
      font-weight: bold; }
    .contenedor_tienda .categorias ul li a {
      color: whitesmoke; }

.producto1 {
  width: 300px; }

.cuadro1 {
  border: 5px solid black; }

/*header (INICIO)de mensaje con promociones del dia, Mi idea es que las redes sociales queden con un tamaño chico en el borde superior izquierdo , para un facil acceso a las mismas , y que el mensaje de promocion este centrado , es un mensaje que constantemente va cambiando dependiendo el dia y dependiendo la promocion*/
.header_aviso {
  background-color: yellow;
  height: 21px; }
  .header_aviso p {
    color: black;
    font-family: monospace;
    font-size: 15px; }

.header_aviso_instagram {
  float: left;
  width: 20px;
  margin-right: 1%; }

.header_aviso_twitter {
  float: left;
  width: 20px;
  margin-right: 1%; }

.header_aviso_facebook {
  float: left;
  width: 20px; }

.header_aviso_promocion {
  text-align: center; }

/*barra de navegacion*/
.Header_navbar {
  font-family: sans-serif;
  width: 100%;
  background: black; }

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px; }

header label:hover {
  cursor: pointer;
  background: rgba(230, 230, 230, 0.3); }

#btn-menu {
  display: block; }

.menu {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center; }

.menu ul {
  display: flex;
  text-align: center;
  margin: 0;
  list-style: none;
  padding: 0; }

.menu li {
  padding: 15px;
  text-decoration: none; }

menu li:hover {
  background: red; }

/* Titulo*/
.Header_Logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: black;
  height: 150px;
  border-bottom: 3px solid white; }
  .Header_Logo div {
    margin: 10px; }

.carritoCompra {
  width: 40px; }

.Header_cont_logo {
  width: 350px;
  background-color: black; }

.Header_fotoJano {
  width: 300px; }

.Header_titulo_janoDecoraciones {
  display: none; }

#fondo {
  background-color: #EAF1F4;
  width: 100%; }

.header_cont_buscador {
  width: 50%; }
  .header_cont_buscador form {
    width: 100%; }
  .header_cont_buscador input {
    width: 100%;
    padding: 10px;
    color: white;
    text-align: left;
    border-radius: 10px;
    border: 2px solid white;
    background-color: black; }

.carrito img {
  width: 100px; }

/*COLOR Y FONDO A LAS SECCIONES*/
* {
  margin: 0%; }

/*media queries*/
@media (max-width: 580px) {
  .Container_fotos {
    grid-columns: auto auto; }
  .mensajes div {
    width: 100%;
    margin: 10px; }
  .banner {
    display: none; }
  .header_aviso {
    display: flex;
    justify-content: space-evenly; }
    .header_aviso p {
      display: none; }
    .header_aviso div {
      margin: 0; }
  .header_cont_buscador {
    width: 80%; }
  .Header_Logo {
    height: auto;
    flex-direction: column; }
  .Header_cont_logo {
    width: 100%; }
  .Header_fotoJano {
    margin-left: 100px; }
  .PiePagina {
    height: 400px; }
    .PiePagina h2 {
      text-align: center; }
  .conteiner_redes {
    justify-content: center;
    width: 100%; }
    .conteiner_redes div img {
      width: 40px; }
  .PiePagina_Subs_mensaje {
    margin-left: auto;
    width: 90%; }
    .PiePagina_Subs_mensaje form {
      width: 100%; }
    .PiePagina_Subs_mensaje input {
      width: 90%; }
  .hola {
    margin: 20px;
    border-radius: 5px;
    background-color: yellow;
    width: 90%;
    text-align: center; }
  .mensajesFinales {
    text-align: center; }
  .derechosdeautor {
    width: 100%;
    background-color: whitesmoke; }
    .derechosdeautor p {
      color: black;
      text-align: center; }
  .contacto {
    width: 100%; }
  .formulario {
    width: 100%; }
  .listaContacto {
    width: 100%; }
  .contenedor_seguimiento {
    padding: 10px; }
  .seguimiento_oca {
    font-size: 15px; }
  .seguimiento_jano {
    font-size: 15px; }
  /* CONTENEDOR TIENDA */
  .contenedor_tienda {
    grid-template-columns: auto auto; }
  /* categorias */
  .contenedor_tienda .categorias {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2; }
  .contenedor_tienda .categorias li {
    display: inline; }
  /* filtro */
  .contenedor_tienda .filtro {
    grid-column-start: 1;
    grid-column-end: -1; }
  .contenedor_tienda .filtro input {
    width: 100%; }
  /* Productos */
  .producto1 {
    width: 100%; } }

@media (max-width: 800px) {
  .mensajes div {
    width: 100%;
    margin: 10px; }
  .banner {
    display: none; }
  .header_aviso {
    display: flex;
    justify-content: space-evenly; }
    .header_aviso p {
      display: none; }
    .header_aviso div {
      margin: 0; }
  .header_cont_buscador {
    width: 80%; }
  .Header_Logo {
    height: auto;
    flex-direction: column; }
  .Header_cont_logo {
    width: 100%; }
  .Header_fotoJano {
    margin-left: 100px; }
  .PiePagina {
    height: 400px; }
    .PiePagina h2 {
      text-align: center; }
  .conteiner_redes {
    justify-content: center;
    width: 100%; }
    .conteiner_redes div img {
      width: 40px; }
  .PiePagina_Subs_mensaje {
    margin-left: auto;
    width: 90%; }
    .PiePagina_Subs_mensaje form {
      width: 100%; }
    .PiePagina_Subs_mensaje input {
      width: 90%; }
  .hola {
    margin: 20px;
    border-radius: 5px;
    background-color: yellow;
    width: 90%;
    text-align: center; }
  .mensajesFinales {
    text-align: center; }
  .derechosdeautor {
    width: 100%;
    background-color: whitesmoke; }
    .derechosdeautor p {
      color: black;
      text-align: center; } }

/*pie de pagina*/
.PiePagina {
  font-family: monospace;
  background: rgba(255, 255, 255, 0.1);
  border-top: 2px solid white;
  height: 400px; }
  .PiePagina h2 {
    margin: 5px;
    color: white; }
  .PiePagina h2 {
    text-align: center; }

.conteiner_redes {
  margin-bottom: 15px;
  justify-content: center;
  width: 100%; }
  .conteiner_redes div img {
    width: 40px; }

.PiePagina_Subs_mensaje {
  margin-left: auto;
  width: 90%; }
  .PiePagina_Subs_mensaje form {
    width: 100%; }
  .PiePagina_Subs_mensaje input {
    width: 90%; }

.hola {
  margin: auto;
  border-radius: 5px;
  width: 600vm;
  text-align: center; }
  .hola h3 {
    padding: 5px;
    border-radius: 5px;
    margin-left: auto;
    color: black;
    background-color: yellow; }

.mensajesFinales {
  text-align: center; }

.derechosdeautor {
  width: 100%;
  background-color: whitesmoke; }
  .derechosdeautor p {
    color: black;
    text-align: center; }

.conteiner_redes {
  display: flex; }
  .conteiner_redes img {
    width: 80px;
    height: auto; }
  .conteiner_redes div {
    margin: 5px; }

.PiePagina_Subs_mensaje {
  color: white; }

.email {
  width: 80%; }

.car {
  width: 50%;
  margin: auto; }

/*Seguimiento*/
.contenedor_seguimiento {
  text-align: center;
  font-family: monospace;
  font-size: 25px; }
  .contenedor_seguimiento div {
    margin-top: 20px; }

.seguimiento_oca {
  border-bottom: 1px solid white; }

.seguimiento_jano {
  border-bottom: 1px solid black; }

.ejemplo {
  font-size: 15px;
  color: grey; }

/*Contacto*/
.mensaje_contacto {
  width: 80%;
  margin: auto;
  border-bottom: 1px solid white; }
  .mensaje_contacto p {
    text-align: center;
    font-family: monospace;
    color: white; }

.contacto {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  justify-items: center; }

.formulario {
  font-family: monospace;
  background-color: black;
  border: 1px solid white;
  width: 450px;
  margin: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 7px; }
  .formulario label {
    color: white; }
  .formulario H2 {
    border: 1px solid white;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px; }
  .formulario input, .formulario textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    border: none; }
  .formulario textarea {
    min-height: 100px;
    max-height: 200px; }

.boton {
  background: whitesmoke; }

.botonreset {
  background: whitesmoke; }

.listaContacto {
  font-family: monospace;
  width: 450px;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: white; }
  .listaContacto dd {
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 20px;
    border: 1px solid black; }
  .listaContacto li {
    color: black;
    width: 100%; }

span {
  font-weight: bold; }

.redes {
  display: flex;
  padding-top: 10px; }
  .redes div {
    margin: auto;
    padding: 10px; }

.iconoinst {
  width: 50px; }

.iconoface {
  width: 50px; }

.iconotwit {
  width: 50px; }

#fondo {
  background: black; }

.mensajes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  margin-top: 5px;
  padding: 30px;
  justify-content: space-between; }
  .mensajes div {
    border-radius: 7px;
    border: 1px solid white;
    padding: 20px;
    background: black; }
  .mensajes h3 {
    text-align: center;
    font-family: monospace;
    color: white;
    width: 100%; }

.lonuevo {
  padding: 25px;
  margin: 5px;
  text-align: center;
  color: white;
  font-family: monospace; }

.Container_fotos {
  justify-content: center;
  font-family: monospace;
  margin: 0;
  padding: 10px;
  background: black;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  height: auto; }
  .Container_fotos div {
    background: black;
    margin: 10px;
    border: 2px solid white;
    border-radius: 15px; }
  .Container_fotos img {
    border-bottom: 3px solid white;
    width: 270px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; }

.descripcion {
  color: white;
  text-align: center; }

/*Ayuda*/
.contenedor_ayuda {
  padding: 10px;
  margin: 5px;
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .contenedor_ayuda div {
    padding: 10px;
    margin: 5px;
    border-radius: 5px; }

.listaAyuda h5 {
  color: white; }

.listaAyuda ul {
  list-style: none; }
  .listaAyuda ul li {
    margin: 10%; }

.listaAyuda2 {
  background-color: white; }
  .listaAyuda2 dd {
    color: black;
    font-weight: bold;
    text-align: center; }
  .listaAyuda2 ul {
    list-style: none; }
    .listaAyuda2 ul li {
      margin: 5%; }
    .listaAyuda2 ul a {
      color: black; }

.mensajes_ayuda {
  border-top: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  color: white;
  padding: 10px;
  justify-content: space-around; }

.mensajes_ayuda div {
  background-color: black;
  padding: 15px;
  margin: 10px;
  text-align: center;
  border: 2px solid black; }
