    /*header (INICIO)de mensaje con promociones del dia, Mi idea es que las redes sociales queden con un tamaño chico en el borde superior izquierdo , para un facil acceso a las mismas , y que el mensaje de promocion este centrado , es un mensaje que constantemente va cambiando dependiendo el dia y dependiendo la promocion*/
.header_aviso{
    background-color: yellow;
    height: 21px;
    p{
        color: black;
        font-family: monospace;
    }

}
.header_aviso_instagram{
    float: left;
    width: 20px;
    margin-right: 1%;
}
.header_aviso_twitter{
    float: left;
    width: 20px;
    margin-right: 1%;
}
.header_aviso_facebook{
    float: left;
    width: 20px;
}
.header_aviso_promocion{
text-align: center;
}

/*barra de navegacion*/
    
.Header_navbar{
    font-family: sans-serif;
    width: 100%;
    background: black;
}
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}
header label:hover{
    cursor: pointer; 
    background: rgba(230, 230, 230, 0.3);   
}
#btn-menu{
    display: block;
}
.menu{
    display: flex;
    padding: 10px;
    justify-content: center;
}
.menu ul{
    display: flex;
    text-align: center;
    margin: 0;
    list-style: none;
    padding: 0; 
}
.menu li{
    padding: 15px;
    text-decoration: none;
}

menu li:hover{
    background:red;
}
    
    
    
/* Titulo*/

.Header_Logo{
    display: flex;
    width: 100%;
    background-color:red;
    height: auto;
    border-bottom: 3px solid black;
}
.Header_cont_logo{
    width: 350px;
    height: auto;
    margin-left: 15px;
    background-color:black;
}
.Header_fotoJano{
    width: 300px;
    margin: 15px;
}
.Header_titulo_janoDecoraciones{
    display: none;
}
#fondo{
    background-color: #EAF1F4 ;
    width: 100%;
}
.header_cont_buscador{
    margin-top: 30px;
    margin-left: 80px;
    width: 100%;
        input{
            padding: 10px;
            color: white;
            width: 50%;
            text-align: left;
            border-radius: 10px;
            border: 2px solid white;
            background-color: black;
        }
}
.carrito{
    img{
        width: 100px;
    }
}

    /*COLOR Y FONDO A LAS SECCIONES*/
*{
    margin: 0%;
}