    /*header (INICIO)de mensaje con promociones del dia, Mi idea es que las redes sociales queden con un tamaño chico en el borde superior izquierdo , para un facil acceso a las mismas , y que el mensaje de promocion este centrado , es un mensaje que constantemente va cambiando dependiendo el dia y dependiendo la promocion*/
.header_aviso{
    background-color: yellow;
    height: 21px;;
    p{
        color: black;
        font-family: monospace;
        font-size: 15px;
    }

}
.header_aviso_instagram{
    float: left;
    width: 20px;
    margin-right: 1%;
}
.header_aviso_twitter{
    float: left;
    width: 20px;
    margin-right: 1%;
}
.header_aviso_facebook{
    float: left;
    width: 20px;
}
.header_aviso_promocion{
text-align: center;
}

/*barra de navegacion*/
    
    
    
    
/* Titulo*/

.Header_Logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color:black;
    height: 150px;
    border-bottom: 3px solid white;
    div{
        margin: 10px;
    }
    
}
.carritoCompra{
    width: 40px;
}
.Header_cont_logo{
    width: 350px;
    background-color:black;
}
.Header_fotoJano{
    width: 300px;
}
.Header_titulo_janoDecoraciones{
    display: none;
}
#fondo{
    background-color: #EAF1F4 ;
    width: 100%;
}
.header_cont_buscador{
        width: 50%;
        form{
        width: 100%;
        }
        input{
            width: 100%;
            padding: 10px;
            color: white;
            text-align: left;
            border-radius: 10px;
            border: 2px solid white;
            background-color: black;
        }
}
.carrito{
    img{
        width: 100px;
    }
}

    /*COLOR Y FONDO A LAS SECCIONES*/
*{
    margin: 0%;
}