    /*header (INICIO)de mensaje con promociones del dia, Mi idea es que las redes sociales queden con un tamaño chico en el borde superior izquierdo , para un facil acceso a las mismas , y que el mensaje de promocion este centrado , es un mensaje que constantemente va cambiando dependiendo el dia y dependiendo la promocion*/
.header_aviso{
    background-color: yellow;
    height: 21px;

}
.header_aviso_instagram{
    float: left;
    width: 20px;
    margin-right: 1%;
}
.header_aviso_twitter{
    float: left;
    width: 20px;
    margin-right: 1%;
}
.header_aviso_facebook{
    float: left;
    width: 20px;
}
.header_aviso_promocion{
text-align: center;
}

/*barra de navegacion*/
.barra{
    background-color: transparent;
    float: right;
    color: white;

}
    .barra ul{
        list-style: none;
        margin: 0;
        padding: 0%;
    
    }
    .barra ul li{
        display: inline-block;
    
    }
    .barra ul li a{
    
        display: block;
        padding: 10px; 
    }
    .barra ul li a:hover{
        background-color: teal;
    
    
    }
    h1 h2{
        font-style: italic;
        font-family: 'Otomanopee One', sans-serif;
    }
    
    
    
    
    
/* Titulo*/

.Header_Logo{
    width: 100%;
    background-color:black;
    height: 110px;
    border-bottom: 3px solid black;
}
.Header_cont_logo{
    width: 350px;
    height: 99px;
    margin-left: 15px;
    background-color:black;
}
.Header_fotoJano{
    width: 300px;
    margin: 15px;
}
.Header_titulo_janoDecoraciones{
    display: none;
}
#fondo{
    background-color: #EAF1F4 ;
    width: 100%;
}

    /*COLOR Y FONDO A LAS SECCIONES*/
*{
    margin: 0%;
}

.Header_navbar{
    font-family: sans-serif;
    width: 100%;
    background: black;
}
header label{
    display: block;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}
header label:hover{
    cursor: pointer; 
    background: rgba(0,0,0,.3);   
}
#btn-menu{
    display: none;
}
.iconomenu{
    width: 30px;
}
.menu{
    padding: 10px;
}
.menu ul{
    text-align: center;
    margin: 0;
    list-style: none;
    padding: 0; 
}
.menu li{
    display: inline;
    padding: 15px;
    text-decoration: none;
}

menu li:hover{
    background:red;
}

.header_cont_buscador{
    position: relative;
    bottom: 60%;
    left: 25%;
        input{
            padding: 10px;
            color: white;
            width: 50%;
            text-align: left;
            border-radius: 10px;
            border: 2px solid white;
            background-color: black;
        }
}
