#fondo{
    background: black;
}
.slider_inicio{
    width: 95%;
    margin: auto;
    overflow: hidden;
    height: 400px;
    object-fit:cover;
    ul{
        display: flex;
        padding: 0;
        width: 300%;
        animation: cambio 20s infinite alternate;
    }
    li{
        border-radius: 10px;
        border: 2px solid white;
        list-style: none;
        width: 100%;
        background-color: black;
    }
    img{
        margin-left: 500px;
        width:auto;
        height:auto;
        max-width: 100%;
        max-height: 400px
    }
}
@keyframes cambio{
    0%  { margin-left: 0;}
    20% { margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
}

.mensajes{
    h3{
        color: red;
    }
    display:flex;
    
}


/* Galeria Inicio*/ 

.Galeria{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    padding: 10px;
    grid-gap: 10px;
    justify-content: center;
    width: 90%;
    margin: auto;

}
.Galeria_container{
    position: relative;
}
.Galeria_container_foto{
    width:100%;
    height: 100%;
    object-fit:cover;
}
.Galeria_container_titulo{
    position: absolute;
    bottom: 0%;
    color: white;
    margin: 0%;
    background:linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1)) ;
    width: 100%;
}
.Galeria_container:nth-child(1){
    grid-row-start: span 3;
    
}
.Galeria_container:nth-child(2){
    grid-column-start: span 2;
    height: 500px; 

}
.Galeria_container:nth-child(3){
    grid-row-start: span 1;
}
.Galeria_container:nth-child(4){
    grid-row: span 2;

}
.Galeria_container:nth-child(5){
    grid-row-start: span 2;
}
.Galeria_container:nth-child(8){
    grid-column-start: span 4;
    height: 400px;}