
/*media queries*/
@media( max-width: 580px){

    .mensajes{
        div{
            width: 100%;
            margin: 10px;
        }
        }
    
        .banner{
            display: none;
        }
        .header_aviso{
            display: flex;
            justify-content: space-evenly;
            p{
                display: none;
            }
            div{
                margin: 0;
            }
        }
        .header_cont_buscador{
            width: 80%;
        }
        .Header_Logo{
            height: auto;
            flex-direction: column;
        }
        .Header_cont_logo{
            width: 100%;
        }
        
        .Header_fotoJano{
            margin-left: 100px;
        }
        
    
        
        .PiePagina{
            h2{
                text-align: center;
            }
            height: 400px;
        }
            .conteiner_redes{
                justify-content: center;
                width: 100%;
                div{
                        img{
                            width: 40px;
                        }
                }
        
            }
        .PiePagina_Subs_mensaje{
            form{
                width: 100%;
            }
            margin-left:auto;
            width: 90%;
            input{
                width: 90%;
            }
        }
        
        
        .hola{
            margin: 20px;
            border-radius: 5px;
            background-color: yellow;
            width: 90%;
            text-align: center;
        }
        
        
        .mensajesFinales{
            text-align: center;
        }
        
        .derechosdeautor{
            width: 100%;
            background-color: whitesmoke;
            p{
                color: black;
                text-align: center;
            }
        }
        
        }



@media (max-width: 800px){

    .mensajes{
        div{
            width: 100%;
            margin: 10px;
        }
        }
    
        .banner{
            display: none;
        }
        .header_aviso{
            display: flex;
            justify-content: space-evenly;
            p{
                display: none;
            }
            div{
                margin: 0;
            }
        }
        .header_cont_buscador{
            width: 80%;
        }
        .Header_Logo{
            height: auto;
            flex-direction: column;
        }
        .Header_cont_logo{
            width: 100%;
        }
        
        .Header_fotoJano{
            margin-left: 100px;
        }
        
    
        
        .PiePagina{
            h2{
                text-align: center;
            }
            height: 400px;
        }
            .conteiner_redes{
                justify-content: center;
                width: 100%;
                div{
                        img{
                            width: 40px;
                        }
                }
        
            }
        .PiePagina_Subs_mensaje{
            form{
                width: 100%;
            }
            margin-left:auto;
            width: 90%;
            input{
                width: 90%;
            }
        }
        
        
        .hola{
            margin: 20px;
            border-radius: 5px;
            background-color: yellow;
            width: 90%;
            text-align: center;
        }
        
        
        .mensajesFinales{
            text-align: center;
        }
        
        .derechosdeautor{
            width: 100%;
            background-color: whitesmoke;
            p{
                color: black;
                text-align: center;
            }
        }
        
        }

