/*pie de pagina*/


.PiePagina{
    font-family: monospace;
    background:rgba(255, 255, 255, 0.1);
    border-top: 2px solid white;
    img{
        margin-left: 10px;
    }

}
.PiePagina h2{
    color: white;
}

.PiePagina_icono_facebook2{
    width: 80px;
}
.PiePagina_icono_instagram2{
    width: 80px;
}
.PiePagina_icono_twitter2{
    width: 80px;
}
.PiePagina_Subs_mensaje{
    color: white;
    float: right;
    transform: translate(-130pX,-75px);
}
.email{
    width: 80%;
}
.PiePagina_Subs_mensaje h3{
    width: 100%;
}


.car{
    width: 50%;
    margin: auto;
}