/*pie de pagina*/


.PiePagina{
    background:#94A3D1 ;

}
.PiePagina h2{
    color: white;
}

.PiePagina_icono_facebook2{
    width: 80px;
}
.PiePagina_icono_instagram2{
    width: 80px;
}
.PiePagina_icono_twitter2{
    width: 80px;
}
.PiePagina_Subs_mensaje{
    float: right;
    transform: translate(-130pX,-75px)
}
.PiePagina_Subs_mensaje h3{
    width: 100%;
}


.car{
    width: 50%;
    margin: auto;
}