/*TIENDA*/

.banner{
    width: 100%;
    height: 174px ;
    padding:0px;
}    
.bannerPromociones{

    width: 998px;
    height: 174px;


}

.contenedor_tienda{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,auto);
}

.contenedor_tienda > div
.contenedor_tienda .productos
.contenedor_tienda .filtro
.contenedor_tienda .categorias{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.contenedor_tienda .categorias{
    ul{
        dd{
            font-weight: bold ;
        }
        list-style: none;
        font-family: monospace;
        li{
            a{
            color: whitesmoke; 
            }
        }
    }
    color: whitesmoke;
    background: rgba(230, 230, 230, 0.3);   ;
}











.producto1{
    width: 300px;

}

.cuadro1{
    border: 5px solid black;
}



