dd{
    color: white;
}
h2{
    color: white;
}
p{
    color: white;
}

@import "tienda";
@import "header";
@import "mediaqueries";
@import "piePagina";
@import "seguimiento";
@import "contacto";
@import "inicio";
@import "ayuda"













